<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.crm.mapper.CustAverageMapper">
	<select id="findCustAverage" resultType="CustAverage">
		select cus_name CusName,sum(total) total
		from custAverage
		where date between #{startDate} and #{endDate}
		group by customer_id
	</select>
	
	<select id="findCustOder" resultType="CustAverage">
		select date startDate,sum(total) total
		from custAverage
		where customer_id = #{customerId}
		group by date
		
	</select>
	<select id="findProductSale" resultType="CustAverage">
		select count(product_id) count,name 
		from custAverage 
		group by product_id
	</select>
	
</mapper>